<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Free website audit!</h2>
                <hr class="light">
                <p class="text-faded">Whether you want more clients for your local business or a boost in organic traffic to your website, we can help. SEO is the best – and the cheapest – form of digital marketing!</p>
                 <center><div id="roboaudit"></div></center>
    <script  id="growthrobo" src="https://d3ikwiixxizqwk.cloudfront.net/assets/site/js/sitecheck.js" data-content="2380"></script>
            </div>
        </div>
    </div>
</section>
